*{
   font-family: 'Montserrat', serif  ;
   color: white; 
}

h2 {
    text-align: center;
    color: #333;
}

body{
    margin:  0;
}
/* Header */
header{
    height: 325px;
    background-color: #26269c;
}
/* Header */

/* Main */
main{
    margin: 0;
    background-color: hsla(60, 1%, 19%, 0.808);
    width: 100%;
    height: 900px;
}

.display{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.329);
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 175px);
    grid-template-rows: 260px repeat(5, 75px);
    background-color: darkmagenta;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 15px 10px 0px 5px rgba(0, 0, 0, 0.329);
}

.col-2{
    grid-column: span 2;
}

#valor-actual{
    font-size: 60px;
}

#valor-anterior{
    font-size: 60px;
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 10px;
    border: none;
    background-color: darkmagenta;
    box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.329), -5px -5px 15px 3px rgba(0, 255, 193, 0.122) ;
}

button:active{
    background-color: rgb(80, 0, 80);
}

button:focus{
    outline: none
}

input, select, label, .resultado {
    color: black;
  }

  #historial {
    background-color: #f0f0f0; 
    border-radius: 5px;
    overflow-y: auto;
  }